.main-container {
  width: 432px;
  height: 216px;
}
.minefield {
  line-height:0;
  border-spacing:0;
  float: left;
  width: 216px;
  height: 216px;
}
.minefield td {
  padding:0
}
.smiley-container {
  width: 216px;
  height: 216px;
  float: left;
}
