<!DOCTYPE html>
<html ng-app="minesweeperXlApp">
<head>
  <meta charset="utf-8">
  <title>Minesweeper-Xl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/app.css">
</head>
<body ng-controller="MainCtrl">

  <div>
    <table class="minefield">
      <tr ng-repeat="row in mineField.rows">
        <td ng-repeat="cell in row.cells">
          <img ng-src="{{ cell | image }}" ng-click="cell.isHidden=false">
        </td>
      </tr>
    </table>
  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/controllers.js"></script>
  <script src="./js/filters.js"></script>
</body>
</html>
